@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.api-box {
  margin-top: 20%;
}
.api-heading {
  font-family: "Fira Sans", sans-serif;
  font-weight: 1000;
  font-size: xx-large;
}
.btn-margin {
  margin-left: 1%;
}
.btn-border {
  border: 3px solid !important;
}

.btns-margin {
  margin-top: 3%;
}
